@import "../config";
@import "../utils";

.works-pg {
  .search-form {
    @extend %searchForm;
  }
  .works-container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    @extend %itemPreview;
  }
}
