@import "config";

.pg,
header,
footer {
  h1 {
    text-align: center;
    font-family: $font;
    @include font-size($h1-font-sizes);
  }
  h2 {
    text-align: center;
    font-family: $font;
    @include font-size($h2-font-sizes);
  }
}

header {
  .main-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    ul {
      list-style-type: none;
      display: flex;
      li {
        text-align: center;
        margin: 0.25rem;
        a {
          text-decoration: none;
          font-family: $font;
          color: rgba(39, 39, 39, 0.582);
        }

        .link-active {
          color: rgb(0, 0, 0);
          svg,
          .nav-icon-home path {
            stroke: rgb(0, 0, 0);
          }
        }
        svg,
        .nav-icon-home path {
          width: 20px;
          height: 20px;
          stroke: rgba(39, 39, 39, 0.582);
        }
      }
    }
  }
}

footer {
  text-align: center;
}
