@import "config";

html,
body {
  width: 100%;
  height: 100%;
  .Modal {
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
    .Modal__inner {
      z-index: 1;
      margin: auto;
      overflow-y: auto;
      background-color: map-get($colors, app-white);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      -o-animation: map-get($animations, zoom);
      -moz-animation: map-get($animations, zoom);
      -webkit-animation: map-get($animations, zoom);
      animation: map-get($animations, zoom);
      width: 100%;
      height: calc(100% - 10rem);
      border: 1px solid map-get($colors, app-dark);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border: 0.44rem solid map-get($colors, app-dark);
      border-top: 2rem solid map-get($colors, app-dark);
      -moz-border-radius-topleft: 0.4rem;
      -moz-border-radius-topright: 0.4rem;
      border-top-left-radius: 0.4rem;
      border-top-right-radius: 0.4rem;
      .modal-pg {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: map-get($colors, app-white);
        padding: 3rem 2rem;
        .modal-content {
          height: auto;
          width: 100%;
          overflow-y: scroll;
          text-align: center;
          .modal-links {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            max-width: 55rem;
            margin: 1.75rem auto 1rem;
            a {
              background: map-get($colors, app-dark);
              color: map-get($colors, app-white);
              text-decoration: none;
              display: block;
              padding: .5rem 1rem;
              line-height: 1.25;
              border-radius: .4rem;
              @include font-size($p-font-sizes);
              opacity: .9;
              -moz-transition: map-get($animations, transition-1);
              -o-transition: map-get($animations, transition-1);
              -webkit-transition: map-get($animations, transition-1);
              transition: map-get($animations, transition-1);
              &:hover, &:focus, &:active {
                -moz-transition: map-get($animations, transition-1);
                -o-transition: map-get($animations, transition-1);
                -webkit-transition: map-get($animations, transition-1);
                transition: map-get($animations, transition-1);
                background: black;
                opacity: 1; 
              }
              svg {
                margin-right: .75rem;
                width: 25px;
                height: 25px;
                stroke-width: 1.75;
                position: relative;
                top: .1rem;
              }
            }
          }
          .modal-desc {
            width: 90%;
            margin: 4rem auto;
            word-wrap: break-word;
            max-width: 50rem;
            line-height: 1.5;
            text-align: justify;
            p {
              text-indent: 4rem;
              span.note {
                display: block;
                font-style: italic;
                margin-top: 2rem;
                text-indent: 0;
              }
            }
          }
        }
        .carousel-root {
          max-width: 60rem;
          margin: auto;
          .legend {
            @include font-size($sub-font-sizes);
          }
        }
        .modal-controls {
          display: block;
          z-index: 3;
        }
        .modal-btn {
          position: fixed;
          top: 0.4rem;
          height: 1.2rem;
          width: 1.2rem;
          border-radius: 50%;
          border: 0;
          cursor: pointer;
          -o-animation: map-get($animations, fade-in-3);
          -moz-animation: map-get($animations, fade-in-3);
          -webkit-animation: map-get($animations, fade-in-3);
          animation: map-get($animations, fade-in-3);
        }
        .close-modal {
          background: map-get($colors, app-close);
          left: 0.41rem;
        }
        .min-modal {
          background: map-get($colors, app-min);
          left: 2.12rem;
        }
        .resize-modal {
          background: map-get($colors, app-open);
          left: 3.73rem;
        }
      }
    }
  }
}
